backend:
  # name: test-repo
  name: github
  repo: mattburns/cotham-gardens-ptfa-website
  branch: main


media_folder: public/images
public_folder: images
collections:
  - name: "main-pages"
    label: "Main Pages"
    files:
    - label: "Home"
      name: "home"
      file: "src/content/home.md"
      fields:
        - { label: "Title", name: "title", widget: "string"}
        - { label: "Publish Date", name: "date", widget: "datetime" }
        - { label: "Body", name: "body", widget: "markdown"}
    - label: "ActiveTravelCTA"
      name: "activetravelcta"
      file: "src/content/active-travel-cta.md"
      fields:
        - { label: "Title", name: "title", widget: "string"}
        - { label: "Publish Date", name: "date", widget: "datetime" }
        - { label: "Body", name: "body", widget: "markdown"}
    - label: "About"
      name: "about"
      file: "src/content/about.md"
      fields:
        - { label: "Title", name: "title", widget: "string"}
        - { label: "Publish Date", name: "date", widget: "datetime" }
        - { label: "Body", name: "body", widget: "markdown"}
        - label: 'People'
          name: "people"
          widget: list
          fields:
            - { label: "Name", name: "name", widget: "string"}
            - { label: "Bio", name: "bio", widget: "text"}
    - label: "Active Travel"
      name: "activetravel"
      file: "src/content/active-travel.md"
      fields:
        - { label: "Title", name: "title", widget: "string"}
        - { label: "Body", name: "body", widget: "markdown"}
        - label: 'Links'
          name: "links"
          widget: list
          fields:
            - { label: "Name", name: "name", widget: "string"}
            - { label: "Url", name: "url", widget: "text"}
